@charset "UTF-8";
body{
	
	
}

body a{
	text-decoration: none;
}
#myCarousel {
	margin: 50px 0 0 0;
}

.carousel-inner .item img {
	margin: 0 auto;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
    
}
.carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
    
}
.ico{
	margin-left: -17.5%;
	margin-top:20px;
}
.m-order{
	top:-30px;
	left:60%;
}
.m-order span {
    display:inline-block;
    margin: 0;
    width: 88px;
    padding:5px 0 0 8px; 
    height: 30px;
    font-size: 14px;
    color: #655;
    border: 1px solid #ebe6e1;
}
.m-order span a{
	 padding-top:-5px; 
}
.right-menu{
	margin-top:0px;
	padding-top:0px;
	height:344px;
	position: relative;
    float: left;
    padding-bottom: 1px;
    width: 236px;
    border: #e0dcd7 solid 2px;
    z-index: 1000;
	
}
.right-menu p{
	font-size: 10px;
}
.right-menu p a.hot{
	color:#c9483c;
}

.right-menu h4{
	position: relative;
    height: 30px;
    line-height: 20px;
    //padding: 0px 0px 0px;
    //background-position: 0 -86px;
    font-size: 16px;
    color: #4c4c4c;
    font-weight: bold;
    //border-bottom: #ebe6e1 solid 1px;
    box-shadow: 2px 2px 5px #d3d6da;
    background: #ebebeb;
    padding: 5px;
}
.tag{
	display: inline-block;
    padding: 4px 8px;
    font-size: 12px;
    float: left;
    margin: 0 4px 6px 0;
    color: #262626;
    border: 1px solid #bfbfbf;
    background-color: #fff;
    white-space: nowrap;
    transition: background-color 0.2s ease-in-out;
}
.unlogin{
	margin-top:40px;
	height:70px;
	padding-left:80px;
	
}
.second{
	background:#ebebeb;
}

.context{
	border:#e0dcd7 solid 2px;
	padding-top:1px;
	padding-left:5px;
	height:200px;
}
.sider-box-title{
	background: #ECECEC;
    padding: 10px;
    font-size: 12px;
    color: #474846
}
.topic-list-detail{
	width: 600px;
    height: 140px;
    float: left;
    border-bottom: 1px solid #EFEFEF;
    border-right: 1px solid #EFEFEF;
    padding: 5px 10px;
}  
.home-topic-list{
	
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E2E2E9;
    background: #FFF;
   // height:930px;
    box-shadow: 2px 2px 5px #d3d6da;
}
.topic-list-detail img{
	display:inline-block;
}
.topic-item-content{
	display: inline-block;
	padding-left:20px;
}
.topic-item-content span{
	color:#b7b8ab;
}

